# ----------------------------------------------------
# Imágenes y archivos csv
# ----------------------------------------------------
*.png
*.csv 

# ----------------------------------------------------
# Carpetas y archivos de Python
# (Caché y entornos virtuales)
# ----------------------------------------------------
__pycache__/
.venv/
venv/
